DATABASE_URL=postgresql://booknest_user:booknest_pass@localhost:5432/booknest_db
REDIS_URL=redis://localhost:6379
CLIENT_ORIGIN=http://localhost:5173
PORT=4000

# Auth
JWT_SECRET=replace_this_with_a_long_random_string
JWT_EXPIRES_IN=7d
NODE_ENV=development
